
.vs/TestNuGetRestore/v15/Server/sqlite3/storage.ide-wal

.vs/TestNuGetRestore/v15/Server/sqlite3/storage.ide-shm

.vs/TestNuGetRestore/v15/Server/sqlite3/storage.ide

.vs/TestNuGetRestore/v15/Server/sqlite3/db.lock
